
  <a routerLink="/ag-demo-grid" routerLinkActive="active">Ag-grid Demo</a> | 
  <a routerLink="/angular-grid-custom" routerLinkActive="active">Ag-grid Custom</a> | 
  <a routerLink="/angular-grid-advanced" routerLinkActive="active">Ag-grid Advanced </a> | 
  <a routerLink="/angular-grid-paginate" routerLinkActive="active">Ag-grid Paging </a> | 
  <a routerLink="/angular-grid-remote" routerLinkActive="active">Ag-grid Server Side sort and Filtetr </a> | 
  <a routerLink="/wijmo-grid-basic" routerLinkActive="active">Wijmo Grid Basic</a> |
  <a routerLink="/wijmo-grid-server-side" routerLinkActive="active">Wijmo Grid Customized Server Side</a> |
  <a routerLink="/wijmo-grid-checkbox" routerLinkActive="active">Wijmo Grid checkbox</a><br/>
  <router-outlet></router-outlet>